.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-container{
    width: 600px;
    margin: 10px;

    .about-title{
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 5px;  
      border-bottom: 1px solid #ccc;
    }

    .about-video {
      margin: 10px 0;
      width: 100%;
      height: 300px;
      border: none;
      border-radius: 0px 5px 5px 5px;
      box-shadow: 5px 5px 5px rgba($color: #ffffff, $alpha: 0.2);
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 5px 5px 5px rgba($color: #ffffff, $alpha: 0.5);
      }
    }
  }
}
