@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: #fff;
  background-color: #222222;
  user-select: none;

  #root {
    height: 100vh;
    width: 100vw;
  }
}
